# Node modules
node_modules/

# Hardhat files
cache/
artifacts/

# Environment variables
.env

# Coverage files
coverage/
coverage.json

# Typechain
typechain-types/

# IDE
.vscode/
.idea/

# Logs
*.log

# Build files
build/
dist/

# Private keys
*.pem
*.key
